* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box .line {
  display: flex;
}

.box .line input {
  height: 100px;
  width: 100px;
  background-color: #219ebc;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-size: 24px;
}

input {
  border: none;
}

.disp {
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  padding: 10px 0;
  background-color: #219ebc;
  color: white;
  width: 100%;
}

.res {
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  padding: 10px 0;
  background-color: #219ebc;
  color: white;
  width: 100%;
}